.knowUs {
  width: 100%;
  display: grid;
  place-items: center;
  &__container {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    padding-inline: 1rem;
    max-width: 125rem;

    @include respond(tab-land) {
      flex-direction: column;
      gap: 2rem;
      padding-block: 2rem;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      align-items:center;
      padding: 2rem;
      margin: 0;
     
    }
  }

  &__pattern {
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 5;
    @include respond(tab-land) {
      position: absolute;
      top: -4%;
      left: 20%;
      z-index: 5;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include respond(phone) {
      width: 90%;
    }
  }

  &__right {
    max-width: 46rem;

    img {
      z-index: 6;

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }

  &__left {
    max-width: 46rem;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: $font-family;
        margin-top: 1rem;

        h3{
            font-weight: bold;
            font-size: 2rem;
            text-transform: uppercase;

            @include respond(tab-port) {
                font-size: 1.6rem;
            }

            @include respond(phone) {
                font-size: 1.4rem;
            }

           
        }

        p{
            font-size: 1.2rem;
        }
       
        &__promo{
            display: flex;
            flex-direction: row;
            gap: 1rem;

            @include respond(tab-port) {
                flex-direction: column;
            }

            &__item{
                display: flex;
                flex-direction:row;
                align-items: flex-start;
                gap: 1rem;

                svg{
                    width: 2.6rem;
                    height: 2.6rem;
                    color: $color-primary;
                }
            }
        }
    }

    &__btn{
        margin-top: 2rem;
    }
  }
}
